<head>
<meta http-equiv="refresh" content="4; URL=/home/index">
<meta name="keywords" content="automatic redirection">
</head>

<body>
    <div class='row' style="height:100%;">
    <div class="loading col-xs-12 col-md-12" style="height:100%;">
       <center style="height:100%;"> <img src="/assets/LOADING.png" style="position:relative; top:10vh; height:80vh;">
       </center>
    </div>   
    </div>
    <script>
        var i;
        for(i=0;i<10;i++){
             $( ".loading" ).fadeOut( "slow" ).fadeIn( "slow" );
        }
    </script>

</body>